<HTML>
<HEAD>
<TITLE>Frat App</TITLE>
   </HEAD>
      <BODY BGCOLOR="FFFFFF">
         <script src="https://apis.google.com/js/platform.js" async defer></script>
         <meta name="google-signin-client_id" content="251178285554-8oeieq4qun8n0dn0tlrlfkpik29nran2.apps.googleusercontent.com">
         <div class="container">
            <div class="row">
               <div class="blog-header">
                  <h1 class="col-sm-5 col-sm-offset-1 blog-title">Task Lists</h1>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
                     <hr>
               <div class="col-sm-7 blog-main">
                  <div class="blog-post">
                     <ul>
                        <p>General Tasks</p>
                        {% for task in gentasks %}
                           <li>
                              {{task.text}}
                              {#Form for deleting tasks#}
                              {% if task.creator == username %}
                                 <form name="deletetask" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value="{{task.id}}">
                                    <input type="submit" value="Mark Complete" name="deletetask">
                                 </form>
                                 {% endif %}
                           </li>
                        {% endfor %}
                     </ul>
                     <ul>
                        <p>Personal Tasks</p>
                        {% for task in personaltasks %}
                           <li>
                              {{task.text}}

                              <form name="deletetask" method="POST">
                                 {% csrf_token %}
                                 <input type="hidden" name="task_id" value="{{task.id}}">
                                 <input type="submit" value="Mark Complete" name="deletetask">
                              </form>
                           </li>
                        {% endfor %}
                     </ul>
                     <p>Supplies Needed</p>
                     <p>UNDER CONSTRUCTION</p>
                     <hr>
                     <p>Add a task</p>
                     <section class="addtaskform">
                        <form name="addtask" action="/Tasks/" method="POST" accept-charset="utf-8">
                           {% csrf_token %}
                           <ol class="list-unstyled">
                              <li><label for="task">Task</label>
                                 <input type="task" name="task" placeholder="Task to be completed" required>
                              </li>
                              <li><label for="usergroups">Groups</label>
                                 <select name="usergroups" multiple>
                                    {% for group in usergroups %}
                                       <option value="{{group.name}}">{{group.name}}</option>
                                    {% endfor %}
                                 </select>
                              </li>
                              <li><label for="usernames">Individual Users</label>
                                 <select name="usernames" multiple>
                                    {% for user in userlist %}
                                       <option value="{{user.username}}">{{user.first_name}} {{user.last_name}}</option>
                                    {% endfor %}
                                 </select>
                              </li>
                              <input type="submit" name="submittask" value="Submit">
                           </ol>
                        </form>
                     </section>
                  </div>
               </div>
               <div class="col-sm-4  col-sm-offset-1 blog-sidebar">
                  <div class="sidebar-module sidebar-module-inset">
                     <ol class="list-unstyled">
                        Welcome, {{firstname}}!
                        <li><a href="/" >Frat App</a></li>
                        <li><a href="/Calendar/">Calendar/Bulletin Board</a></li>
                        <li><a href="/Tasks/">Tasks</a></li>
                        <li><a href="/Directory/">User Directory</a></li>
                        <li><a href="/AttendanceLists/">Attendance Lists</a></li>
                        <form name="Logout" method="POST">
                           {% csrf_token %}
                           <input type="submit" value="Logout" name="logout">
                        </form>
                     <ol>
                     <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>
                     <a href="#" onclick="signOut();">Sign out</a>!
                     <script>
                        function signOut() {
                           var auth2 = gapi.auth2.getAuthInstance();
                           auth2.signOut().then(function () {
                              console.log('User signed out.');
                           });
                        }
                     </script>-->
                  </div>
               </div>
            </div>
         </div>
      </BODY>
   </HEAD>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</HTML>


