{% extends 'base.html' %}
{% block content %}
   <div class="container">
      <div class="row">
         <hr>
         <div class="col-sm-7 blog-main">
            <div class="blog-post">
               
                  <h4 class="section-title">General Tasks</h4>
                  <ul class="task-section list-group">
                  {% for task in gentasks %}
                     <li class="list-item list-group-item">
                        <p class="list-text">{{task.text}}</p>
                     {% if task.incomplete %}
                        <form name="deletetask" method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="task_id" value="{{task.id}}">
                           <button class="btn frat-btn delete-btn" type="submit" value="Mark Complete" name="deletetask">Mark Complete</button>
                        </form>
                     {% endif %}
                     </li>
                  {% endfor %}
               </ul>
               
                  <h4 class="section-title">Personal Tasks</h4>
                  <ul class="task-section list-group">
                  {% for task in personaltasks %}
                     <li class="list-item list-group-item">
                        <p class="list-text">{{task.text}}</p>
                        {% if task.incomplete%}
                           <form name="deletetask" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="task_id" value="{{task.id}}">
                              <button class="btn frat-btn delete-btn" type="submit" value="Mark Complete" name="deletetask">Mark Complete</button>
                           </form>
                        {% endif %}
                     </li>
                  {% endfor %}
               </ul>
               
                  <h4 class="section-title">Completed Tasks</h4>
                  <ul class="task-section list-group">
                  {% for task in ownedtasks %}
                     <li class="list-item list-group-item">
                        <p class="list-text">{{task.text}}</p>
                        {% if task.incomplete%}
                           <form name="deletetask" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="task_id" value="{{task.id}}">
                              <button class="btn frat-btn delete-btn" type="submit" value="Mark Complete" name="deletetask">Cancel Task</button>
                           </form>
                           {%else%}
                           <form name="deletetask" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="task_id" value="{{task.id}}">
                              <button class="btn frat-btn" type="submit" value="Mark Complete" name="deletetask">Delete</button>
                           </form>
                        {% endif %}
                     </li>
                  {% endfor %}
               </ul>
               
                  <h4 class="section-title">Supplies Needed</h4>
                  <ul class="task-section list-group">
                  {% for supply in supplylist %}
                     <li class="list-group-item">
                        {{supply.name}}: {{supply.quantity}}
                     </li>
                  {% endfor %}
               </ul>
               <hr>
               
               {% if invalidtaskassignment%}
                  {{invalidtaskassignment}}
               {% endif %}
               {% if invalidsup%}
                  {{invalidsup}}
               {% endif %}
               {% if invalidsupplyname%}
                  {{invalidsupplyname}}
               {% endif %}
            </div>
         </div>
         <div class="col-sm-4  col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
               <h4 class="section-title">Add a task</h4>
               <section class="addtaskform">
                  <form name="addtask" action="/Tasks/" method="POST" accept-charset="utf-8">
                     {% csrf_token %}
                     <div class="form-group">
                        <label for="task">Task</label>
                        <input class="form-control" type="task" name="task" placeholder="Task to be completed" required>
                     </div>
                     <div class="form-group">
                        <label for="usergroups">Groups</label>
                        <select class="form-control" name="usergroups" multiple>
                           {% for group in usergroups %}
                              <option value="{{group.name}}">{{group.name}}</option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="usernames">Individual Users</label>
                        <select class="form-control" name="usernames" multiple>
                           {% for user in userlist %}
                              <option value="{{user.username}}">{{user.first_name}} {{user.last_name}} ({{user.username}})</option>
                           {% endfor %}
                        </select>
                     </div>
                     <button class="btn frat-btn" type="submit" name="submittask" value="Submit">Submit</button>
                  </form>
               </section>
               <h4 class="section-title">Add to supply list</h4>
               <section class="addsupplyform">
                  <form name="addsupply" action="/Tasks/" method="POST" accept-charset="utf-8">
                     {% csrf_token %}
                     <div class="form-group">
                        <label for="supply">Supply</label>
                        <input class="form-control" type="supply" name="supply" placeholder="Supply Needed" required>
                     </div>
                     <div class="form-group">
                        <label for="quantity">Quantity Needed</label>
                        <input class="form-control" type="number" name="quantity" placeholder="1" required>
                     </div>
                     <button class="btn frat-btn" type="submit" name="submitsupply" value="Submit">Submit</button>
                  </form>
               </section>
               {% if canEdit %}
                  <h4 class="section-title">Remove from the supply list</h4>
                  <section class="removesupplyform">
                     <form name="removesupply" action="/Tasks/" method="POST" accept-charset="utf-8">
                        {% csrf_token %}
                        <div class="form-group">
                           <label for="supply">Supply</label>
                           <select class="form-control" name="supply" multiple required>
                              {% for supply in supplylist %}
                                 <option value="{{supply.name}}">{{supply.name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="quantity">Quantity to Remove</label>
                           <input class="form-control" type="number" name="quantity" placeholder="1" required>
                        </div>
                        <button class="btn frat-btn" type="submit" name="removesupply" value="Submit">Submit</button>
                     </form>
                  </section>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
{% endblock %}