{% extends 'base.html' %}
{% block content %}
   <div class="container">
      <div class="row">
         <div class="blog-header">
            <h1 class="col-sm-6 col-sm-offset-3 page-title">User Directory</h1>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <hr>
         <div class="col-sm-6 col-sm-offset-3 blog-main">
            <form name="Search" method="POST">
               {% csrf_token %}
               <div class="form-group">
                  <input class="form-control" type="text" name="searchterm" placeholder="Name or Username" required>
               </div>
               <button class="btn frat-btn" type="submit" value="Search" name="Search">Search</button>
            </form>
            <br>
            {{userdoesnotexist}}
            <div class="blog-post">
               <table class="table table-hover">
                  {% for user in userlist %}
                     {% if user.first_name %}
                        {% if user.last_name %}
                           {% if user.username %}
                              <tr>
                                 <td> {{user.first_name}} {{user.last_name}} </td>
                                 <td><a href="/Directory/?user={{user.username}}">{{user.username}}</a></td>
                              </tr>
                           {% endif %}
                        {% endif %}
                     {% endif %}
                  {% endfor %}
               </table>
            </div>
         </div>
         <div class="col-sm-4  col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
            </div>
         </div>
      </div>
   </div>
{% endblock %}