{% extends 'base.html' %}
{% block content %}
         <div class="container">
            <div class="row">
               <div class="blog-header">
                  <h1 class="col-sm-6 col-sm-offset-3 page-title">{{userquery.first_name}} {{userquery.last_name}}</h1>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
                     <hr>
               <div class="col-sm-6 col-sm-offset-3 blog-main">
                  <div class="user-details">
                     <p>Username: {{userquery.username}}</p>
                     <p>Email Address: {{userquery.email}}</p>
                     <p>Rank: {{userquery.extrauserfields.rank}}</p>
                     <p>Big Brother: {{userquery.extrauserfields.bigbrother}} </p>
                     <p>Roll Number: {{userquery.extrauserfields.rollnumber}}</p>
                     <p>Graudation Date: {{userquery.extrauserfields.graduation_date}}</p>
                     <p>Major(s): {{majors}}</p>
                     <p>Minor(s): {{minors}}</p>
                     <p>Hometown: {{userquery.extrauserfields.hometown}}</p>
                     <p>Phone Number: {{userquery.extrauserfields.phonenumber}}</p>
                     {% if isAdmin %}
                        <form name="delete_user" method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="username" value="{{userquery.username}}">
                           <button class="btn frat-btn delete-btn" type="submit" value="Delete" name="delete_user"> Delete</button>
                        </form>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
{% endblock %}

