.section-title{
	padding-bottom: 10px;
	border-bottom: #cfa600;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-top: 15px;
}

.frat-btn{
	color: #cfa600				!important;
	background-color: #fff		!important;
	border-color: #ccc			!important;
	font-weight: bold 			!important;
}

.frat-btn:hover{
	background-color: #cfa600	!important;
	border-color: #cfa600		!important;
	color: #fff					!important;
}

#page-title{
	margin-top: 40px;

}

.submit-btn{
	position: relative;
	top: 25px;
}

.bulletin-post{
	position: relative;
}

.delete-btn{
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 15px;
	margin-top: 10px;
}

.left-footer{
	display: inline-block;
}
.right-footer{
	display: inline-block;
	float: right;
}

.task-section{
	min-height: 100px;
}

.list-item{
	position: relative;
	width: 100%;
	height: 55px;
}

.list-item-text{
	position: absolute;
	top: 50%;                         /* 3 */
   	transform: translate(0, -50%)
}

.user-details{
	position: relative;
}

.footer{
	width: 100%;
	background-color: #f5f5f5;
}

.footer, .push{
	height: 110px;
}

.wrapper{
	min-height: 100%;
	margin: 0 auto -110px;
}

html, body{
	height: 100%;
}

* {
	margin: 0;
}

.public-title{
	margin-top: 100px;
}