{% load staticfiles %}
<HTML>
<HEAD>
   <TITLE>Frat App</TITLE>
</HEAD>
      <BODY BGCOLOR="FFFFFF">
         <script src="https://apis.google.com/js/platform.js" async defer></script>
         <meta name="google-signin-client_id" content="251178285554-8oeieq4qun8n0dn0tlrlfkpik29nran2.apps.googleusercontent.com">
         <div class="container">
            <div class="row">
               <div class="blog-header">
                  <h1 class="col-sm-5 col-sm-offset-1 blog-title">Calendar/Bulletin Board</h1>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
                     <hr>
               <div class="col-sm-7 blog-main">
                  <div class="bulletins">
                     {% for bulletin in bulletins%}
                     <section class="bulletin_post">
                        <h4>{{bulletin.title}}</h4>
                        <p>{{bulletin.creator}} posted at {{bulletin.postDate}}</p>
                        <p>{{bulletin.text}}</p>
                        <p>Expires on {{bulletin.expiration_date}}</p>
                        <hr>
                     </section>
                     {% endfor %}
                  </div>
                  <div class="pagination">
                      <span class="step-links">
                          {% if bulletins.has_previous %}
                              <a href="?page={{ bulletins.previous_page_number }}">previous</a>
                          {% endif %}
                  
                          <span class="current">
                              Page {{ bulletins.number }} of {{ bulletins.paginator.num_pages }}.
                          </span>
                  
                          {% if bulletins.has_next %}
                              <a href="?page={{ bulletins.next_page_number }}">next</a>
                          {% endif %}
                      </span>
                  </div>
                  <div class="blog-post">
                     <iframe src="https://calendar.google.com/calendar/embed?src=fratapprpi%40gmail.com&ctz=America/New_York" style="border: 0" width="750" height="600" frameborder="0" scrolling="no"></iframe>
                  </div>
               </div>
               <div class="col-sm-4  col-sm-offset-1 blog-sidebar">
                  <div class="sidebar-module sidebar-module-inset">
                     <h2>Create an Announcement</h2>
                     <form name="addbulletin" action="/Calendar/" method="POST" accept-charset="utf-8">
                        {% csrf_token %}
                        <p>
                           <label for="title">Task</label>
                           <input type="text" name="title" placeholder="Name of Announcement" required>
                        </p>
                        <p>
                           <label for="description">Description</label>
                           <input type="text" name="description" placeholder="Description of Announcement" required>
                        </p>
                        <p>
                           <label for="expiration">Expiration Date</label>
                           <input type="date" name="expiration">
                        </p>
                        <input type="submit" value="Add Bulletin" name="addbulletin">
                     </form>
                     <ol class="list-unstyled">
                        Welcome, {{firstname}}!
                        <li><a href="/" >Frat App</a></li>
                        <li><a href="/Calendar/">Calendar/Bulletin Board</a></li>
                        <li><a href="/Tasks/">Tasks</a></li>
                        <li><a href="/Directory/">User Directory</a></li>
                        <li><a href="/AttendanceLists/">Attendance Lists</a></li>
                        <form name="Logout" method="POST">
                           {% csrf_token %}
                           <input type="submit" value="Logout" name="logout">
                        </form>
                     <ol>
                     <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>
                     <a href="#" onclick="signOut();">Sign out</a>!
                     <script>
                        function signOut() {
                           var auth2 = gapi.auth2.getAuthInstance();
                           auth2.signOut().then(function () {
                              console.log('User signed out.');
                           });
                        }
                     </script>-->
                  </div>
               </div>
            </div>
         </div>
      </BODY>
   </HEAD>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!--JQuery UI-->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'javascript/bulletin.js' %}"></script>
</HTML>


