{% extends 'base.html' %}
{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="col-sm-12 page-title">Anouncements</h1>
         </div>
         <div class="col-sm-7 blog-main">
            <div class="bulletins">
               {% for bulletin in bulletins%}
                  <div class="panel panel-default bulletin-post">
                     <div class="bulletin-post panel-heading">
                        <h4 class="section-title">{{bulletin.title}}</h4>
                        {% if isAdmin %}
                           <form name="delete_bulletin" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="bulletin_id" value="{{bulletin.id}}">
                              <button class="btn frat-btn delete-btn" type="submit" value="Delete" name="delete_bulletin">Delete</button>
                           </form>
                        {% endif %}
                     </div>
                     <div class="panel-body">
                        <p>{{bulletin.text}}</p>
                     </div>
                     <div class="panel-footer">
                        <p class="small left-footer">{{bulletin.creator}} posted at {{bulletin.postDate}}</p>
                        <p class="small text-right right-footer">Expires on {{bulletin.expiration_date}}</p>
                        
                     </div>
                  </div>
               {% endfor %}
            </div>
            <nav>
               <span class="current">
                  Page {{ bulletins.number }} of {{ bulletins.paginator.num_pages }}.
               </span>
               <ul class="pager">
                  
                  {#Form for the built-in Django paging#}
                  {% if bulletins.has_previous %}
                     <li>
                        <a href="?page={{ bulletins.previous_page_number }}">Previous</a>
                     </li>
                  {% endif %}
                  {% if bulletins.has_next %}
                     <li>
                        <a href="?page={{ bulletins.next_page_number }}">Next</a>
                     </li>
                  {% endif %}
                  
               </ul>
            </nav>
         </div>
         <div class="col-sm-4  col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
               <h4 class="section-title">Create an Announcement</h2>
               <form name="addbulletin" action="/Calendar/" method="POST" accept-charset="utf-8">
                  {% csrf_token %}
                  <div class="form-group">
                     <label for="title">Announcement</label>
                     <input class="form-control" type="text" name="title" placeholder="Name of Announcement" required>
                  </div>
                  <div class="form-group">
                     <label for="description">Description</label>
                     <textarea class="form-control" type="text" rows="6" name="description" placeholder="Description of Announcement" required> </textarea>
                  </div>
                  <div class="form-group">
                     <label for="expiration">Expiration Date</label>
                     <input class="form-control" type="date" name="expiration" required>
                  </div>
                  <button class="frat-btn btn" type="submit"  name="addbulletin">Submit</button>
               </form>
            </div>
            <iframe src="https://calendar.google.com/calendar/embed?src=fratapprpi%40gmail.com&ctz=America/New_York" style="border: 0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
         </div>
         <div class="blog-post col-md-12">
         </div>
      </div>
   </div>
{% endblock %}